*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 160px;
    color: #eee;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    backdrop-filter: blur(9px);
    border-radius: 10px;
    overflow: hidden;
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    background: transparent;
}

.logreg-box .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    max-width: 100%;
    padding: 30px;
    background: #1cff8b;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h3{
    font-size: 40px;
}

.content h2{
    font-size: 60px;
}

.content p{
    font-size: 16px;
}

.card{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.form-box h3{
    font-size: 25px;
    color: #2d2e2e;
}

h2{
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 20px;
    
}

input{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    display: block;
}

button{
    width: 50%;
    padding: 12px;
    background: #6884d3;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px ;
    margin-bottom: 10px;
    transition: 0.5s;
}

button:hover{
    background: blue;
}

p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: #7494ec;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}